<div class="container">
	
		<div class="row">
			<div class="col-xs-7 guess-page">
				<p>
				<h4>Hello.<br>This is a poll app clone of Poll everywhere <small>by <a href="https://github.com/weymanf">Weyman Fung</a></small></h4>
				You can sign up, sign in or use the guest user provided below. <br>
				<form action="<%= session_url %> " method="post" class="user-signin">
					<input
					name="authenticity_token"
					type="hidden"
					value="<%= form_authenticity_token %>">

					<input name="user[user_email]" type="hidden" value="guess@123.com">
					
					<input name="user[password]" type= "hidden" value="guess123">

					<input type="submit" class="btn btn-primary btn-large" value="Sign in as a guess!">
				</form>

				<br>
				Check out the code on github <a href="https://github.com/weymanf/roly_polly">Roly Poly</a>
				<p>
			</div>



			<div class="col-xs-3 col-xs-offset-1 pull-right">
				<div class="form-group">
				<p><%= flash[:errors].join("<br/>").html_safe if flash[:errors]%></p>

				<form action="<%= session_url %> " method="post" class="user-signin">
					<h1> Sign In! </h1>
					<input
					name="authenticity_token"
					type="hidden"
					value="<%= form_authenticity_token %>">

					<label for="user_email">Email</label>
					<br>
					<input
					id="user_email"
					name="user[user_email]"
					type="text"
					class="form-control">
					<br>

					<label for="user_password">Password</label> <br>
					<input
					id="user_password"
					name="user[password]"
					type="password"
					class="form-control">
					<br>
					<br>

					<input type="submit" class="btn btn-primary" value="Sign In!">
				</form>
			</div>
		</div>
	</div>
</div>